PORT=10000
HOST=0.0.0.0
CORS_ORIGIN=http://localhost:5173,https://anime-c9350.web.app,https://anime-c9350.firebaseapp.com
ANIME_PROVIDER=animemovil
ANIMEFLV_BASE_URL=https://animeflv.ahmedrangel.com
ANIMEMOVIL_BASE_URL=https://animemovil2.com
BROWSER_EXECUTABLE_PATH=
BROWSER_HEADLESS=true

